@*
    The following is a Razor view. Razor syntax allows you to mix C# code with HTML.
*@
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to ASP.NET Core Products Example!</h1>
<img src="~/images/products.jpg" alt="Main Shopping Image" style="max-width: 400px; height: auto;"/>

<p>This is the home page.</p>

