@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Products Example!</h1>
    <img src="~/images/products.jpg" alt="Main Shopping Image" style="max-width: ; 400px; height: auto" />
</div>
